---
import { getCollection } from "astro:content";
import TipsGrid from "~/components/TipsGrid.astro";

const tips = (await getCollection("tips"))
  .sort((a, b) => (+a.data.date < +b.data.date ? 1 : -1))
  .slice(0, 3);
---

<section class="max-w-6xl mx-auto px-4 pb-16">
  <div class="flex justify-between items-end">
    <h2 class="text-gray-950 dark:text-gray-50 font-semibold text-3xl">
      Latest tips
    </h2>
    <a
      href="/tips"
      class="button button-gray"
    >
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
        ><path
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M13 5h8m-8 4h5m-5 6h8m-8 4h5M3 5a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1zm0 10a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1z"
        ></path></svg
      >
      <span>View all</span>
    </a>
  </div>
  <div class="mt-4">
    <TipsGrid {tips} />
  </div>
</section>
