---
import BaseLayout from "~/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import TipsGrid from "~/components/TipsGrid.astro";

const tips = await getCollection("tips");
---

<BaseLayout title="Tips">
  <section class="max-w-6xl mx-auto px-4 py-16">
    <h1 class="text-gray-950 dark:text-gray-50 font-semibold text-3xl">
      All tips ({tips.length})
    </h1>
    <div class="mt-4">
      <TipsGrid {tips} />
    </div>
  </section>
</BaseLayout>
