---
import Layout from "../components/Layout.astro";
import ThemeSelect from "../components/ThemeSelect.astro";
import ThemeToggleButton from "../components/ThemeToggleButton.astro";
---

<Layout>
  <h1>Hello World</h1>
  <ThemeSelect />
  <ThemeToggleButton />
  <button id="setTheme">theme.setTheme("auto")</button>
  <p><code>theme.getTheme()</code> returns: <code id="getTheme"></code></p>
  <script>
    const setThemeElem = document.getElementById("setTheme");
    setThemeElem &&
      setThemeElem.addEventListener("click", () =>
        window.theme.setTheme("auto"),
      );

    const getThemeElem = document.getElementById("getTheme");
    getThemeElem && (getThemeElem.innerHTML = window.theme.getTheme());

    document.addEventListener("theme-changed", () => {
      const resultsElem = document.getElementById("getTheme");
      resultsElem && (resultsElem.innerHTML = window.theme.getTheme());
    });
  </script>
</Layout>

<style>
  code {
    background-color: black;
    color: white;
    font-style: italic;
    border-radius: 5px;
    padding: 2px;
  }
</style>
