---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
import AstroTags from "../components/Tags.astro";
---

<StarlightPage frontmatter={{ title: "External resources" }}>
  See guided examples of adding features to your Astro project, submitted by our
  community members! [Astro recipes](https://docs.astro.build/en/recipes/) are
  typically short, focused how-to guides that walk a reader through completing a
  working example of a specific task. Recipes are a great way to add new
  features or behavior to your Astro project by following step-by-step
  instructions! Other guides might explain concepts related to an area of
  content, such as using images or working with MDX.

  {
    /* :::tip[Add your own!]
  Have you written a recipe for Astro? [Edit this page](https://github.com/withastro/docs/edit/main/src/content/docs/en/community-resources/content.mdx) and add your link in the appropriate section!
  ::: */
  }
  <AstroTags server:defer>
    <span slot="fallback">FALLBACK</span>
  </AstroTags>
</StarlightPage>
