---
import type { Props } from '@astrojs/starlight/props'
import Default from '@astrojs/starlight/components/MarkdownContent.astro'
import { Aside } from '@astrojs/starlight/components'
import { minVersion, outside } from 'semver'
import pkg from 'package.json'

const { astroRange } = Astro.props.entry.data
const astroVersion = minVersion(pkg.dependencies.astro)?.version
// check if the Astro version is less than the required range.
const outRange = astroRange && astroVersion && outside(astroVersion, astroRange, '>')
const semverUrl = `https://semver.otterlord.dev/?package=astro&range=${astroRange}&filter=on`
---

{
	// only show if the Astro version is less than the required range.
	outRange && (
		<Aside type="caution">
			This guide was written for Astro <a href={semverUrl}>{astroRange}</a> and may not work for versions outside of that range.<br />
			We always try to keep our tips up to date, but if you see this caution, please open an <a href="https://github.com/astrolicious/astro-tips.dev/issues">issue</a> to let us know.
		</Aside>
	)
}

<Default {...Astro.props}><slot /></Default>
