---
import Default from "@astrojs/starlight/components/ThemeSelect.astro";

import Auth from "../Auth.astro";
---

<Default><slot /></Default>
<Auth server:defer>
  <div slot="fallback"></div>
</Auth>

<style>
  div {
    background: linear-gradient(135deg, #e6e6e6 0%, #ffffff 50%, #e6e6e6 100%);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #666;
  }
</style>
