---
import Layout from "../components/Layout.astro";
---

<Layout>
<a href="/">page1</a>
  <div id="currentThemeDiv"></div>
  <script>
    declare const theme: any;

    function showTheme(currentTheme: string) {
      const currentThemeDiv = document.getElementById("currentThemeDiv")!;
      currentThemeDiv.innerHTML = `The current theme is: ${currentTheme}`;
    }

    showTheme(theme.getTheme());

    document.addEventListener("theme-changed", (e: any) => {
      showTheme(e.detail.theme);
    });
  </script>
</Layout>
