---
import { ViewTransitions } from "astro:transitions";
import ThemeManager from "./ThemeManager.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <ThemeManager defaultTheme="dark" />
    <ViewTransitions />
  </head>
  <main>
    <body>
      <slot />
    </body>
  </main>
  <style>
    :root,
    :root[data-theme="light"] {
      --background-color: #ffffff;
      --text-color: #000000;
      color-scheme: light;
    }
    @media (prefers-color-scheme: dark), :root[data-theme="dark"] {
      :root {
        --background-color: #333333;
        --text-color: #ffffff;
        color-scheme: dark;
      }
    }

    body {
      background-color: var(--background-color);
      color: var(--text-color);
    }
  </style>
</html>
