<footer class="mt-auto">
  <div class="max-w-6xl mx-auto px-4 py-2">
    &copy <span id="footer-date"></span>
     Florian Lefebvre. MIT Licensed
  </div>

  <script is:inline>
    document.getElementById("footer-date").innerText = new Date().getFullYear();
  </script>
</footer>
