---
interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div
  class:list={[
    "prose max-w-none dark:prose-invert prose-gray prose-sm sm:prose-base",
    className,
  ]}
>
  <slot />
</div>
