name: Create Community Content

on:
  workflow_dispatch:
  # pull_request:
  #   paths:
  #     - "src/content/resources/**.json"

permissions:
  contents: write
  pull-requests: write

jobs:
  generate:
    if: github.repository_owner == 'astrolicious'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ github.event.pull_request.head.ref }}
      - uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda # v4.1.0
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version-file: ".nvmrc"
          cache: "pnpm"
      - run: pnpm i --frozen-lockfile
      - uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        id: generator
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            const { default: script } = await import('${{ github.workspace }}/.github/scripts/mdx.js')
            await script({github, context, core})
      - uses: actions/create-github-app-token@df432ceedc7162793a195dd1713ff69aefc7379e # v2.0.6
        id: app-token
        with:
          app-id: ${{ vars.BOT_APPID }}
          private-key: ${{ secrets.BOT_SECRET }}
      - uses: stefanzweifel/git-auto-commit-action@04702edda442b2e678b25b537cec683a1493fcb9 # v7
        with:
          commit_user_email: 168325803+astrolicious[bot]@users.noreply.github.com
          commit_user_name: astrolicious[bot]
          commit_message: "[ci] update community content"
          branch: ${{ github.head_ref }}
