name: Create Community Content

on:
  workflow_dispatch:
  pull_request:

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b # v4.1.5
        with:
          ref: ${{ github.event.pull_request.head.ref }}
      - uses: pnpm/action-setup@v4.0.0
      - uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4
        with:
          node-version-file: ".nvmrc"
          cache: "pnpm"
      - run: pnpm i --frozen-lockfile
      - uses: actions/github-script@60a0d83039c74a4aee543508d2ffcb1c3799cdea # v7.0.1
        id: generator
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            const { default: script } = await import('${{ github.workspace }}/.github/scripts/mdx.js')
            await script({github, context, core})
      - uses: actions/create-github-app-token@a0de6af83968303c8c955486bf9739a57d23c7f1 # v1.10.0
        id: app-token
        with:
          app-id: ${{ vars.BOT_APPID }}
          private-key: ${{ secrets.BOT_SECRET }}
      - run: |
          echo "$MAKDOWN" > content.mdx
        env:
          MARKDOWN: ${{ steps.generator.outputs.markdown }}
      - uses: dmnemec/copy_file_to_another_repo_action@main
        env:
          API_TOKEN_GITHUB: ${{ steps.app-token.outputs.token }}
        with:
          source_file: "content.mdx"
          destination_repo: "astrolicious/withastro-docs"
          destination_folder: "src/content/docs/en/community-resources"
          user_email: "astrolicious@nbhr.de"
          user_name: "astrolicious[bot]"
          commit_message: "[astrotips] update community content"
